body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    background-image: url(img/logodefondo.png);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    color: #222;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto en el centro */
    gap: 15px; /* Espacio entre el logo y el contenedor del título */
    padding: 15px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas */
}

#titulo {
    background-color: #969696b4;
    color: #545454;
    padding: 5px;
}

.logo {
    height: 30px; /* Ajusta la altura del logo según tus necesidades */
}

.title-container {
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    align-items: center; /* Centra el texto horizontalmente dentro del contenedor */
}

.input-container,
.checkbox-container {
    display: flex;
    flex-direction: row; /* Dirección horizontal */
    flex-wrap: wrap; /* Permite ajustar los elementos en múltiples líneas */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 90%; /* Ancho ajustado para pantallas pequeñas */
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Centra el contenedor en la página */
}

.input-container label,
.checkbox-container label {
    font-size: 14px;
    color: #333;
    flex: 1 1 100%;
    text-align: left;
    margin-bottom: 8px;
}

.input-container input,
.checkbox-container input {
    flex: 1 1 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

input[type="number"],
select {
    width: 100%;
    padding: 12px 18px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #ddd;
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    transition: background-color 0.3s ease;
    color: #333;
}

input[type="number"]:focus,
select:focus {
    background-color: #eee;
}

.checkbox-container input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.2);
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten */
    width: 90%; /* Ancho ajustado */
    max-width: 600px; /* Ancho máximo */
    justify-content: space-between;
    margin: auto;
}

/* Estilo base para los botones */
button.btn {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 45%; /* Asegura que los botones tengan un ancho similar */
    margin: 5px; /* Añade espacio entre los botones */
}

button.btn:hover {
    background-color: #444;
}

.resultado-container,
.table-container {
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px; /* Ajusta el ancho para pantallas pequeñas */
    text-align: left;
    background-image: url(img/logodefondo.png);
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
    background-position: center;
}

.resultado-container li {
    margin-bottom: 10px;
    list-style-type: none;
}


.table-container {
    overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
    -webkit-overflow-scrolling: touch; /* Suaviza el desplazamiento en dispositivos táctiles */
    width: 90%; /* Ajuste para mayor responsividad */
    margin: 30px auto;
}

table {
    width: 100%; /* La tabla toma todo el ancho disponible del contenedor */
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 600px; /* Ancho mínimo */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#info-tarjeta-credito {
    margin: 10px auto;
    padding: 15px;
    background-color: #f8f8f8;
    border-left: 5px solid #ff5252;
    width: 90%; /* Ancho ajustado */
    max-width: 600px; /* Ancho máximo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#info-tarjeta-credito h2 {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 12px;
}

#info-tarjeta-credito p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

#incluir-fecha label {
    font-size: 12px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0;
}

/* Media Queries para Responsividad */
@media (max-width: 90%) {
    .header-container {
        flex-direction: column; /* Apila elementos verticalmente en pantallas más pequeñas */
    }
    .button-container {
        flex-direction: column; /* Botones en columna en lugar de fila */
    }
    .table-container {
        min-width: 100%; /* Asegura que la tabla se ajuste al contenedor */
    }
}
